<div class="span3">

    <div class="well">
        <ul class="nav nav-list">
            <li>
                <a href="#">Produits</a>
            </li>
            
        </ul>
    </div>
    <div class="well">
        <ul class="nav nav-list">
            
            <li>
                <a href="#">Catégories </a>
            </li>
        </ul>
    </div>
    
    <div class="well">
        <ul class="nav nav-list">
            <li>
                <a href="#">Utilisateurs</a>
            </li>
            
        </ul>
    </div>
    
    <div class="well">
        <ul class="nav nav-list">
            <li>
                <a href="#">Pages</a>
            </li>
        </ul>
    </div>    
</div>









